sg-page-home {
  ion-item {
    padding: 0 !important;
    cursor: pointer;
  }

  .item-inner {
    padding: 0 !important;
  }

  ion-label {
    margin: 0 !important;
  }

  .no-receipts {
    padding-top: 10px;
    color: #aaa;
    text-align: center;
  }
}
